.App {
  text-align: center;
  height: 100vh;
  background-color: #bdc7ad;
}
.App-header {
  background-color: #282c34;
  min-height: 100px;
  height: 10vh;
  display: flex;
  flex: 1;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.backgroundContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  flex-grow: 1;
  
}
.foregroundContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  flex-direction: column;
  
}
.content {
  display: flex;
  flex-direction: row;
  flex: 6;
  align-items: stretch;
  background-image: linear-gradient(#282c34, #eef0e9);
}
.homepageContent {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  background-color: #eef0e9;
  border-top-left-radius: 5vh;
  overflow: hidden;
  overflow: clip;
  overflow-clip-margin: 0.05vh;
  position: relative;
}
.gradientTransition {
  flex: 1;
  background-image: linear-gradient(#3C4046, #eef0e9);
  margin: 0;
  height: 5vh;
  position: absolute;
  top: 0;
  width: 100%;
}
.homepageContentInner {
  margin-top: 10vh;
}

.TypingEffectContainer {
  
  flex: 1;
  background-image: linear-gradient(#282c34, #eef0e9);
  overflow: hidden;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  position: relative;
  /*word-wrap: break-word;*/
  
}
.TypingEffectText {
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: xx-small;
  display: flex;
  color: #282c34;
  text-wrap: nowrap;
  white-space: pre-wrap;
  text-align: left;
  overflow: hidden;
}














/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
